.calendar .displayTimeZone {
    float: left;
}

.calendar .displayMode {
    float: right;
}

.calendar .displayMode img {
    height: 16px;
    width: 16px;
    vertical-align: top;
    border: none;
}

.calendar .mainTitle img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    border: none;
}

.calendar .displayWorkingIdle {
    visibility: hidden;
}

.calendar .displayWorking {
}

.calendar .displayWorking img {
    vertical-align: top;
    border: none;
}

.calendar .container {
    width: 100%;
}

.calendar td {
    vertical-align: top;
}

.calendar td.calendarDisplay {
    padding: 0px 5px 0px 0px;
}

.calendar .container div.calendarDisplay {
    width: 100%;
    height: 100%;
}

.calendar div.calendarDisplay .grid {
    margin: 2px 0px 5px 0px;
    border-collapse: collapse;
}
.calendar div.calendarDisplay .grid th  {
    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    background: #f0f0f0;
    text-align: center;
}

.calendar div.calendarDisplay .grid td  {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}

.calendar td.calendarInfo {
    width: 200px;
}

.calendar div.calendarInfo {
    /* width: 200px; */
    vertical-align: top;
}

.calendar .calendarList {
 	border: 1px solid #ddd;
	padding: 2px;
	margin: 2px 0px 5px 0px;
	width: 100%;
}

.calendar .calendarLoadingIdle {
    display: none;
    background: none;
    text-align: center;
}

.calendar .calendarLoading {
 	border: 1px solid #ddd;
 	margin: 0px 0px 5px 0px;
 	padding: 2px;
 	width: 100%;
    display: block;
}

.calendar .calendarDetails {
 	border: 1px solid #ddd;
	padding: 2px;
	margin: 0px 0px 5px 0px;
	width: 100%;
}

.calendar .calendarDetails .errors {
    background: #f2918a;
    color: white;
    padding: 2px;
}

.calendar .first {
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
}

/* Defaults for calendar items */

.calendar .diminish {
    background-color: #f9f9f9;
    color: #707070;
}

.calendar .selected {
    background-color: #f0f0f0;
}

.calendar .diminish.selected {
    color: #707070;
}

.calendar .today {
    background-color: #e0edfa;
}

/* Calendar-level settings */

.calendar .day {
    text-align: center;
    vertical-align: top;
}

.calendar .day .date {
    float:left;
    font-weight:bold;
}

.calendar .day .addEventHidden {
    float: right;
    display: none;
}

.calendar .day .addEventVisible {
    float: right;
    display: block;
}

.calendar .day .addEventVisible img {
    cursor: pointer;
    cursor: hand;
}

.calendar .day .event {
    cursor: pointer;
    cursor: hand;
}

.calendar .day .when {
    font-weight: bold;
}

/* Week View settings */

.calendar .week .day {
    width: 14%;
}

/* Month View settings */

.calendar .month {
}

.calendar .month .week {
}

.calendar .month .day {
    width: 14%;
}

/* Event View settings */
.calendar .events .date {
    width:  15%;
}

.calendar .events .summary {
     width: 65%;
}

.calendar .events .organizer {
     width: 20%;
}

/* Events */

.calendar .eventList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.eventList li {
    margin: 3px;
    padding: 1px 2px;
}

.calendar .calendarGroup {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.calendarGroup li {
    margin: 3px;
    padding: 2px 5px;
}

.eventList li a, .calendarList li a {
    display: block;
    text-decoration: none;
}

.blueAllDay, .blueAllDay a, AllDay, AllDay a {
    background: #7faae9;
    color: white;
}

.blueSetTime, .blueSetTime a, SetTime, SetTime a {
    color: #0055d3;
}

.orangeAllDay, .orangeAllDay a {
    background: #fab384;
    color: white;
}

.orangeSetTime, .orangeSetTime a {
    color: #f67a06;
}

.pinkAllDay, .pinkAllDay a {
    background: #d493d1;
    color: white;
}

.pinkSetTime, .pinkSetTime a {
    color: #b131ad;
}

.redAllDay, .redAllDay a {
    background: #f2918a;
    color: white;
}

.redSetTime, .redSetTime a {
    color: #e72416;
}

.grayAllDay, .grayAllDay a {
    background: #eeeeee;
    color: #666666;
}

.greenAllDay, .greenAllDay a {
    background: #94ce88;
    color: white;
}

.greenSetTime, .greenSetTime a {
    color: #299e11;
}

.purpleAllDay, .purpleAllDay a {
    background: #a093cb;
    color: white;
}

.purpleSetTime, .purpleSetTime a {
    color: #4a2fa0;
}

.calendar select.dateSelect {
    border: none;
    background: none;
}

input.fill, textarea.fill {
    width: 95%;
}

input[readonly] {
    text-style: italic;
    color: #707070;
}

.calendar table.event-list {
    border-collapse: collapse;
    border: none;
    margin-bottom: 5px;
}

.calendar table.event-list td {
    cursor: auto;
}

.calendar div.event-date {
    text-align: left;
    font-size: 14px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    border-bottom: 1px solid #CCC;
}

.calendar table.event-list tr.event td {
    border: none;
}

.calendar table.event-list tr.event td.start-time {
    font-weight: bold;
    width: 130;
}

.calendar .summary {
    font-weight: bold;
    text-align: left;
}

.calendar .location {
    font-style: italic;
    text-align: left;
}

.calendar .description {
    font-size: 10px;
    text-align: left;
}

.calendar .organizer {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.calendar .url {
    text-align: left;

}
