#parse ( "/templates/extra/calendar/macros.vm" )

<form name="EditEventForm"
      action="$contextPath/plugins/calendar/editEvent!doEdit.action"
      onsubmit="return $C('$calendar.id').submitForm(this);">
<p>
    <b>$action.getText('calendar.label.event.summary')</b><br />
    <input type="text" name="eventSummary" size="20" class="fill" value="$!generalUtil.htmlEncode($eventSummary)"/>
    <br />
    <b>$action.getText('calendar.label.event.location')</b><br />
    <input type="text" name="eventLocation" size="20" class="fill" value="$!generalUtil.htmlEncode($eventLocation)"/>
    <b>$action.getText('calendar.label.event.description')</b><br/>
    <textarea name="eventDescription" cols="20" rows="3" class="fill" style="height: 50px;">$!generalUtil.htmlEncode($eventDescription)</textarea>
    <b>$action.getText('calendar.label.event.link')</b><br/>
    <input type="text" name="link" size="20" class="fill" value="$!generalUtil.htmlEncode($link)"/>
</p>

<p>
    <b>$action.getText('calendar.label.event.allDay')</b> <input type="checkbox" name="allDay" value="true" #if ($allDay) checked="checked" #end onclick="$('start-$calendar.id').style.display = $('end-$calendar.id').style.display = (this.checked ? 'none' : ''); return true"/><br/>
    <b>$action.getText('calendar.label.event.from')</b><br />
    #makeNumberSelect("startDay" 1 31 $startDay false)
    #makeMonthSelect("startMonth" $startMonth)
    <input type="text" name="startYear" size="4" maxsize="4" value="$startYear"/>
    <span id="start-$calendar.id" #if ( $event.allDay ) style="display: none" #end>
    <br/>
    #makeNumberSelect("startHour12" 1 12 $startHour12 false)
    #makeNumberSelect("startMinute" 0 59 $startMinute true)
    <select name="startAM">
      <option value="true" #if ($startAM) selected="selected" #end>$action.getText('calendar.date.am')</option>
      <option value="false" #if ($startAM == false) selected="selected" #end>$action.getText('calendar.date.pm')</option>
    </select>
    </span>

    <br />

    <b>$action.getText('calendar.label.event.to')</b><br />
    #makeNumberSelect("endDay" 1 31 $endDay false)
    #makeMonthSelect("endMonth" $endMonth)
    <input type="text" name="endYear" size="4" maxsize="4" value="$endYear"/>

    <span id="end-$calendar.id" #if ( $event.allDay ) style="display: none" #end>
    <br/>
    #makeNumberSelect("endHour12" 1 12 $endHour12 false)
    #makeNumberSelect("endMinute" 0 59 $endMinute true)
    <select name="endAM">
      <option value="true" #if ($endAM) selected="selected" #end>$action.getText('calendar.date.am')</option>
      <option value="false" #if ($endAM == false) selected="selected" #end>$action.getText('calendar.date.pm')</option>
    </select>
    <br/>
    
    #if ($allOccurrences && !$overrideEvent)
    <br/>
    <b>$action.getText('calendar.label.event.repeat') </b> 
         <select name="repeat" onChange="$('last-$calendar.id').style.display = ((this.value == 'none') ? 'none' : ''); return true">
            <option value="none" #if ($repeat == "none") selected="selected" #end>$action.getText('calendar.repeat.norepeat')</option>
            <option value="daily" #if ($repeat == "daily") selected="selected" #end>$action.getText('calendar.repeat.daily')</option>
            <option value="weekdays" #if ($repeat == "weekdays") selected="selected" #end>$action.getText('calendar.repeat.weekdays')</option>
            <option value="weekly" #if ($repeat == "weekly") selected="selected" #end>$action.getText('calendar.repeat.weekly')</option>
            <option value="biweekly" #if ($repeat == "biweekly") selected="selected" #end>$action.getText('calendar.repeat.biweekly')</option>
            <option value="monthly" #if ($repeat == "monthly") selected="selected" #end>$action.getText('calendar.repeat.monthly')</option>
            <option value="yearly" #if ($repeat == "yearly") selected="selected" #end>$action.getText('calendar.repeat.yearly')</option>            
            <option value="notimplemented" #if ($repeat == "notimplemented") selected="selected" #end>$action.getText('calendar.repeat.notImplemented')</option>                        
          </select><br/><br/>
          
     <span id="last-$calendar.id" #if ( $event.repeat == "none" ) style="display: none" #end>
        <br/>
        <b>$action.getText('calendar.label.event.last')</b><br/>
        #makeNumberOrNullSelect("lastDay" 0 31 $lastDay false)
        #makeMonthOrNullSelect("lastMonth" $lastMonth)
        <input type="text" name="lastYear" size="4" maxsize="4" value="$lastYear"/>
        <br/>
     </span>          
         
   #end

    $action.getText('calendar.label.event.timezone')<br/>
    <select name="timeZoneId" class="fill" style="width: 100%">
        #set ($prevOffset = "")
        #foreach ($zone in $timeZones)
            #set ($currOffset = $zone.displayOffset))
            #if (!($currOffset == $prevOffset))
                 <optgroup label="$currOffset"></optgroup>
             #end
             #set ($currLabel = $action.getText($zone.messageKey))
            <option value="$zone.getID()" #if ($timeZoneId == $zone.getID()) selected="selected" #end>$currLabel</option>
            #set ($prevOffset = $currOffset)
        #end
        #if (!($prevOffset == ""))
            </optgroup>
        #end
    </select>
    </span>
</p>

<p>
    <b>$action.getText('calendar.label.event.organizer')</b>
    <input type="text" name="organizerName" size="20" style="width: 90%" value="$!generalUtil.htmlEncode($organizerName)"/><a onclick="openUserPickerPopup('EditEventForm', 'organizerName'); return false;" href='#'><img width='16' height='16' border='0' align='absmiddle' title='Select' src='$contextPath/images/icons/srch_16.gif' /></a>
    <b>$action.getText('calendar.label.calendar')</b> $generalUtil.htmlEncode($subCalendar.name)<br />
</p>

<p>
    <input type="hidden" name="subCalendarId" value="$subCalendar.id"/>
    <input type="hidden" name="eventId" value="$!event.id"/>
    <input type="hidden" name="allOccurrences" value="$allOccurrences"/>

    <input type="submit" value="$action.getText('calendar.button.update')"/>
    <input type="button" value="$action.getText('calendar.button.cancel')" onclick="$C('$calendar.id').viewEvent('$subCalendar.id', '$event.id')"/>
</p>
</form>
